
:root {
  --primary-color: rgb(11, 78, 179);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress {
  background-color: var(--primary-color);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
}

.progress-step-active {
  background-color: var(--primary-color);
  color: #f3f3f3;
}

.form {

  /* other styles */

  margin: 2rem auto;

  border: 1px solid #ccc;

  border-radius: 0.35rem;

  padding: 1.5rem;

}



.form-step {
  display: none;
  transform-origin: left;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 2rem 0;
}

@keyframes animate {

from {

transform: translateX(100%);

}

to {

transform: translateX(0);

}

}

/* Button */
.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #f3f3f3;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}



.bodersueve_fieldset {
  margin: left 1px;
  margin-right: 1px;
  height: auto;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(209, 205, 207);
  font-size: 16px;
  outline: none;
}

.card-body {
  opacity: 0;
  animation: fade-in 1s forwards;
}




.fondo {
  border-top: 5px solid #496a77;
  border-radius: 10px 10px 10px 10px;
}
/* Añade algo de margen en la parte superior de la página */
.content-header {
  margin-top: 2rem;
}




/* Estiliza el botón de envío */
.card-footer button {
  background-color: #496a77;
  color: #e2f3fa;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

/* Estiliza el botón de envío al pasar el cursor por encima */
.card-footer button:hover {
  background-color: #323346;
}

/* Estiliza el botón de envío al hacer clic */
.card-footer button:active {
  background-color: #e6e6e6;
}

.content-header
{
  margin: 0;
  margin-left: 22%;
  position: relative;
  width: 70%;
}


/* Estiliza la etiqueta del área de texto */
.form-group label[for="requerimiento-usuario"] {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Estiliza el área de texto */
#requerimiento-usuario {
  height: 5rem;
}



.f_recibido{
  position: relative;
  top: -40px;
  left: 160px;

}

#requerimiento-usuario{
  width: 80%;
}


.textarea:not([rows]) {
  max-height: 40em;
  min-height: 8em;
}
.textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: calc(.75em - 1px);
  resize: vertical;
}
.input, .textarea {
  box-shadow: none;
  max-width: 100%;
  width: 100%;
}
.input, .select select {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  border-radius: 8px;
  color: #363636;
}
/* 
****************************************** */




html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-size: 13px;
  min-width: 300px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}


 