



.textarea:not([rows]) {
  max-height: 40em;
  min-height: 8em;
}
.textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: calc(.75em - 1px);
  resize: vertical;
}
.input, .textarea {
  box-shadow: none;
  max-width: 100%;
  width: 100%;
}
.input, .select select {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  border-radius: 8px;
  color: #363636;
}
/* 
****************************************** */




html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-size: 13px;
  min-width: 300px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}


@media (min-width: 767px) {
  #editCase {
    position: relative;
    top: -80px; /* ajusta la distancia desde la parte superior */
    left: 50%;
    width: 90%;
    margin: 20px;
  }
}

@media (min-width: 768px) {
  #editCase {
    position: relative;
    top: -80px; /* ajusta la distancia desde la parte superior */
    right: 10%;
    width: 90%;
    margin: 20px;
  }
}
/* PANTALLA COMPLETA 1300px */
@media (min-width: 1300px) {
 #editCase {
  position: relative;
  top: -80px; /* ajusta la distancia desde la parte superior */
  right: 10%;
  width: 100%;
  margin: 20px;
  }
}
/* PANTALLA COMPLETA 1920px */
@media (min-width: 1400px) {
 #editCase {
  position: relative;
  top: -80px; /* ajusta la distancia desde la parte superior */
  right: 10%;
  width: 100%;
  margin: 20px;
  }
}

/* PANTALLA COMPLETA 1920px */
@media (min-width: 1920px) {
 #editCase {
  position: relative;
  top: -80px; /* ajusta la distancia desde la parte superior */
  right: 10%;
  width: 100%;
  margin: 20px;
  }
}

